<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.CompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.CompanyInfo" >
    <id column="id" property="id"/>
    <result column="company_name" property="companyName"  />
    <result column="company_code" property="companyCode"  />
    <result column="service_call" property="serviceCall"  />
    <result column="service_fax" property="serviceFax"  />
    <result column="service_email" property="serviceEmail"  />
    <result column="complaint_call" property="complaintCall"  />
    <result column="service_website" property="serviceWebsite"  />
    <result column="address" property="address"  />
    <result column="zip_code" property="zipCode"  />
    <result column="contact_person" property="contactPerson"  />
    <result column="tax_no" property="taxNo"  />
    <result column="bank_name" property="bankName"  />
    <result column="bank_account" property="bankAccount"  />
    <result column="allocated_region" property="allocatedRegion"  />
    <result column="createUser" property="createuser"  />
    <result column="createTime" property="createtime"  />
    <result column="updateUser" property="updateuser"  />
    <result column="updateDate" property="updatedate"  />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_name, company_code, service_call, service_fax, service_email, complaint_call, 
    service_website, address, zip_code, contact_person, tax_no, bank_name, bank_account, 
    allocated_region, createUser, createTime, updateUser, updateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_company_info
    where id = #{id}
  </select>
  
  <select id="query" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.CompanyInfo">
    SELECT <include refid="Base_Column_List"/>
      FROM t_company_info
    <where>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="serviceCall != null" >
        service_call,
      </if>
      <if test="serviceFax != null" >
        service_fax,
      </if>
      <if test="serviceEmail != null" >
        service_email,
      </if>
      <if test="complaintCall != null" >
        complaint_call,
      </if>
      <if test="serviceWebsite != null" >
        service_website,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="contactPerson != null" >
        contact_person,
      </if>
      <if test="taxNo != null" >
        tax_no,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="allocatedRegion != null" >
        allocated_region,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_company_info
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.hbh.sms.model.entity.CompanyInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_company_info (company_name, company_code, service_call, 
      service_fax, service_email, complaint_call, 
      service_website, address, zip_code, 
      contact_person, tax_no, bank_name, 
      bank_account, allocated_region, createUser, 
      createTime, updateUser, updateDate
      )
    values (#{companyName}, #{companyCode}, #{serviceCall},
      #{serviceFax}, #{serviceEmail}, #{complaintCall},
      #{serviceWebsite}, #{address}, #{zipCode},
      #{contactPerson}, #{taxNo}, #{bankName},
      #{bankAccount}, #{allocatedRegion}, #{createuser},
      now(),#{createuser}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbh.sms.model.entity.CompanyInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_company_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="serviceCall != null" >
        service_call,
      </if>
      <if test="serviceFax != null" >
        service_fax,
      </if>
      <if test="serviceEmail != null" >
        service_email,
      </if>
      <if test="complaintCall != null" >
        complaint_call,
      </if>
      <if test="serviceWebsite != null" >
        service_website,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="contactPerson != null" >
        contact_person,
      </if>
      <if test="taxNo != null" >
        tax_no,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="allocatedRegion != null" >
        allocated_region,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyName != null" >
        #{companyName},
      </if>
      <if test="companyCode != null" >
        #{companyCode},
      </if>
      <if test="serviceCall != null" >
        #{serviceCall},
      </if>
      <if test="serviceFax != null" >
        #{serviceFax},
      </if>
      <if test="serviceEmail != null" >
        #{serviceEmail},
      </if>
      <if test="complaintCall != null" >
        #{complaintCall},
      </if>
      <if test="serviceWebsite != null" >
        #{serviceWebsite},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="zipCode != null" >
        #{zipCode},
      </if>
      <if test="contactPerson != null" >
        #{contactPerson},
      </if>
      <if test="taxNo != null" >
        #{taxNo},
      </if>
      <if test="bankName != null" >
        #{bankName},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount},
      </if>
      <if test="allocatedRegion != null" >
        #{allocatedRegion},
      </if>
      <if test="createuser != null" >
        #{createuser},
      </if>
      <if test="createtime != null" >
        #{createtime},
      </if>
      <if test="updateuser != null" >
        #{updateuser},
      </if>
      <if test="updatedate != null" >
        #{updatedate},
      </if>
    </trim>
  </insert>
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.hbh.sms.model.entity.companyInfo" >-->
    <!--update t_company_info-->
    <!--<set >-->
      <!--<if test="companyName != null" >-->
        <!--company_name = #{companyName},-->
      <!--</if>-->
      <!--<if test="companyCode != null" >-->
        <!--company_code = #{companyCode},-->
      <!--</if>-->
      <!--<if test="serviceCall != null" >-->
        <!--service_call = #{serviceCall},-->
      <!--</if>-->
      <!--<if test="serviceFax != null" >-->
        <!--service_fax = #{serviceFax},-->
      <!--</if>-->
      <!--<if test="serviceEmail != null" >-->
        <!--service_email = #{serviceEmail},-->
      <!--</if>-->
      <!--<if test="complaintCall != null" >-->
        <!--complaint_call = #{complaintCall},-->
      <!--</if>-->
      <!--<if test="serviceWebsite != null" >-->
        <!--service_website = #{serviceWebsite},-->
      <!--</if>-->
      <!--<if test="address != null" >-->
        <!--address = #{address},-->
      <!--</if>-->
      <!--<if test="zipCode != null" >-->
        <!--zip_code = #{zipCode},-->
      <!--</if>-->
      <!--<if test="contactPerson != null" >-->
        <!--contact_person = #{contactPerson},-->
      <!--</if>-->
      <!--<if test="taxNo != null" >-->
        <!--tax_no = #{taxNo},-->
      <!--</if>-->
      <!--<if test="bankName != null" >-->
        <!--bank_name = #{bankName},-->
      <!--</if>-->
      <!--<if test="bankAccount != null" >-->
        <!--bank_account = #{bankAccount},-->
      <!--</if>-->
      <!--<if test="allocatedRegion != null" >-->
        <!--allocated_region = #{allocatedRegion},-->
      <!--</if>-->
      <!--<if test="createuser != null" >-->
        <!--createUser = #{createuser},-->
      <!--</if>-->
      <!--<if test="createtime != null" >-->
        <!--createTime = #{createtime},-->
      <!--</if>-->
      <!--<if test="updateuser != null" >-->
        <!--updateUser = #{updateuser},-->
      <!--</if>-->
      <!--<if test="updatedate != null" >-->
        <!--updateDate = now(),-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id}-->
  <!--</update>-->
  <update id="updateByPrimaryKey" parameterType="com.hbh.sms.model.entity.CompanyInfo" >
    update t_company_info
    set company_name = #{companyName},
      company_code = #{companyCode},
      service_call = #{serviceCall},
      service_fax = #{serviceFax},
      service_email = #{serviceEmail},
      complaint_call = #{complaintCall},
      service_website = #{serviceWebsite},
      address = #{address},
      zip_code = #{zipCode},
      contact_person = #{contactPerson},
      tax_no = #{taxNo},
      bank_name = #{bankName},
      bank_account = #{bankAccount},
      allocated_region = #{allocatedRegion},
      updateUser = #{updateuser},
      updateDate = now()
    where id = #{id}
  </update>
</mapper>