<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.ConcentratorMapper" >
  <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.Concentrator" >
    <id column="id" property="id"  />
    <result column="com_port" property="comPort"  />
    <result column="baud_rate" property="baudRate"  />
    <result column="manufacturer" property="manufacturer"  />
    <result column="model" property="model"  />
    <result column="is_online" property="isOnline"  />
    <result column="code" property="code"  />
    <result column="smsc" property="smsc"  />
    <result column="name" property="name"  />
    <result column="create_time" property="createTime"  />
    <result column="create_person" property="createPerson"  />
    <result column="update_time" property="updateTime"  />
    <result column="update_person" property="updatePerson"  />
  </resultMap>
  <sql id="Base_Column_List" >
    id, com_port, baud_rate, manufacturer, model, is_online, code, smsc, name, create_time,
    create_person, update_time, update_person
  </sql>
  <sql id="queryWhere" >
    <where>
      <if test="comPort != null and comPort !='' " >
        com_port = #{comPort}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
    from t_concentrator
    where id = #{id}
  </select>

  <select id="query" parameterType="com.hbh.sms.model.entity.Concentrator" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM  t_concentrator
    <include refid="queryWhere"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_concentrator
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.hbh.sms.model.entity.Concentrator" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_concentrator (com_port, baud_rate, manufacturer,
      model, is_online, code, 
      smsc, name, create_time,
      create_person, update_time, update_person
      )
    values (#{comPort}, #{baudRate}, #{manufacturer},
      #{model}, #{isOnline}, #{code},
      #{smsc}, #{name}, now(),
      #{createTime}, now(), #{createPerson}
      )
  </insert>

  <!--<update id="updateByPrimaryKeySelective" parameterType="com.hbh.sms.model.entity.Concentrator" >-->
    <!--update t_concentrator-->
    <!--<set >-->
      <!--<if test="comPort != null" >-->
        <!--comPort = #{comPort},-->
      <!--</if>-->
      <!--<if test="baudRate != null" >-->
        <!--baudRate = #{baudRate},-->
      <!--</if>-->
      <!--<if test="manufacturer != null" >-->
        <!--manufacturer = #{manufacturer},-->
      <!--</if>-->
      <!--<if test="model != null" >-->
        <!--model = #{model},-->
      <!--</if>-->
      <!--<if test="isOnline != null" >-->
        <!--is_online = #{isOnline},-->
      <!--</if>-->
      <!--<if test="code != null" >-->
        <!--code = #{code},-->
      <!--</if>-->
      <!--<if test="smsc != null" >-->
        <!--smsc = #{smsc},-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--name = #{name},-->
      <!--</if>-->
      <!--<if test="createdate != null" >-->
        <!--createDate = #{createdate},-->
      <!--</if>-->
      <!--<if test="createuser != null" >-->
        <!--createUser = #{createuser},-->
      <!--</if>-->
      <!--<if test="updatedate != null" >-->
        <!--updateDate = now(),-->
      <!--</if>-->
      <!--<if test="updateuser != null" >-->
        <!--updateUser = #{updateuser},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id}-->
  <!--</update>-->

  <update id="updateByPrimaryKey" parameterType="com.hbh.sms.model.entity.Concentrator" >
    update t_concentrator
    set comPort = #{comPort},
      baudRate = #{baudRate},
      manufacturer = #{manufacturer},
      model = #{model},
      code = #{code},
      smsc = #{smsc},
      name = #{name},
      updateDate = now(),
      updateUser = #{updateuser}
    where id = #{id}
  </update>

  <update id="updateByComPort" parameterType="com.hbh.sms.model.entity.Concentrator">
    update t_concentrator
    set baud_pate = #{baudRate},
      manufacturer = #{manufacturer},
      model = #{model},
      update_time = now(),
      update_person = #{updatePerson}
    where com_port = #{comPort}
  </update>
</mapper>