<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.MeterMapper">
    <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.Meter">
        <id column="id" property="id"/>
        <result column="meter_no" property="meterNo"/>
        <result column="meter_code" property="meterCode"/>
        <result column="controller_id" property="controllerId"/>
        <result column="meter_name" property="meterName"/>
        <result column="fix_date" property="fixDate"/>
        <result column="use_type" property="useType"/>
        <result column="user_type" property="userType"/>
        <result column="base_value" property="baseValue"/>
        <result column="buy_way" property="buyWay"/>
        <result column="meter_model" property="meterModel"/>
        <result column="create_time" property="createTime"/>
        <result column="create_person" property="createPerson"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_person" property="updatePerson"/>
        <result column="unit" property="unit"/>
        <result column="controller_name" property="controllerName"/>
        <result column="mc1" property="mc1"/>
        <result column="mc2" property="mc2"/>
        <result column="mc3" property="mc3"/>
    </resultMap>

    <sql id="Base_Column_List">
      tm.id, tm.meter_no, tm.meter_code, tm.controller_id,tc.name as controller_name, tm.meter_name, tm.fix_date,
      tm.use_type, tm.user_type, tm.base_value, tm.buy_way, tm.meter_model, tm.create_time, tm.create_person,
      tm.update_time, tm.update_person,tm.unit,tm.mc1,tm.mc2,tm.mc3
  </sql>
    <sql id="meterWhere">
        <where>
            <if test="meterCode != null and meterCode !='' ">
                AND tm.meter_code = #{meterCode}
            </if>
            <if test="startTime != null">
                AND tm.create_time >= #{startTime}
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_meter tm
        LEFT JOIN t_concentrator tc on tm.controller_id = tc.id
        where tm.id = #{id}
    </select>

    <select id="query" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.Meter">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_meter tm
        LEFT JOIN t_concentrator tc on tm.controller_id = tc.id
        <include refid="meterWhere"/>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_meter
    where id = #{id}
  </delete>

    <insert id="insert" parameterType="com.hbh.sms.model.entity.Meter">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_meter (meter_no, meter_code, controller_id,
        meter_name, fix_date, use_type,
        user_type, base_value, buy_way,
        meter_model, create_time, create_person,
        update_time, update_person,unit)
        values (#{meterNo}, #{meterCode}, #{controllerId},
        #{meterName}, #{fixDate}, #{useType},
        #{userType}, #{baseValue}, #{buyWay},
        #{meterModel}, now(), #{createPerson},
        now(),#{createPerson},#{unit})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.hbh.sms.model.entity.Meter">
    update t_meter
    set meter_no = #{meterNo},
      meter_code = #{meterCode},
      controller_id = #{controllerId},
      meter_name = #{meterName},
      fix_date = #{fixDate},
      use_type = #{useType},
      user_type = #{userType},
      base_value = #{baseValue},
      buy_way = #{buyWay},
      meter_model = #{meterModel},
      update_time = now(),
      update_person = #{updatePerson}
    where id = #{id}
  </update>
</mapper>