<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.MeterDataMapper" >
  <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.MeterData" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="meterId" property="meterId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="REAL" />
    <result column="upLoadTime" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.hbh.sms.model.entity.MeterData" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_meterdata (meterId, code, value, 
      upLoadTime, unit, createTime
      )
    values (#{meterid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{value,jdbcType=REAL}, 
      #{uploadtime,jdbcType=TIMESTAMP}, #{unit,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbh.sms.model.entity.MeterData" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_meterdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="meterid != null" >
        meterId,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="uploadtime != null" >
        upLoadTime,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="meterid != null" >
        #{meterid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=REAL},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <sql id="queyWhere" >
    <where>
      <if test="meterId !=null and meterId !=0">
        AND meterId = #{meterId}
      </if>
      <if test="code !=null and code !=''">
        AND  code = #{code}
      </if>
    </where>
  </sql>
  <select id="list" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.MeterData">
    SELECT *
    FROM t_meterdata
    <include refid="queyWhere" />
    limit #{offset} , #{limit}
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="com.hbh.sms.model.entity.MeterData" >
    SELECT count(1) FROM t_meterdata
    <include refid="queyWhere" />
  </select>

</mapper>