<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.MeterDataMapper">
    <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.MeterData">
        <result column="id" property="id"/>
        <result column="meter_id" property="meterId"/>
        <result column="code" property="code"/>
        <result column="value" property="value"/>
        <result column="valve_status" property="valveStatus"/>
        <result column="up_load_time" property="upLoadTime"/>
        <result column="unit" property="unit"/>
        <result column="create_time" property="createTime"/>
        <result column="create_person" property="createPerson"/>
        <result column="update_person" property="updatePerson"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, meter_id, code, value, up_load_time, unit, create_time,create_person,update_person,update_time,valve_status
    </sql>

    <insert id="insert" parameterType="com.hbh.sms.model.entity.MeterData">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_meter_data (meter_id, code, value,
        up_load_time, unit, create_time,create_person,update_person,update_time,valve_status
        )
        values (#{meterId}, #{code}, #{value},
        #{upLoadTime}, #{unit}, now(),"system","system",now(),#{valveStatus}
        )
    </insert>

    <sql id="queyWhere">
        <where>
            <if test="meterId !=null and meterId !=0">
                AND meter_id = #{meterId}
            </if>
            <if test="code !=null and code !=''">
                AND code = #{code}
            </if>
            <if test="upLoadTime != null">
                AND up_load_time = #{upLoadTime}
            </if>
        </where>
    </sql>

    <select id="query" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.MeterData">
        SELECT
        <include refid="Base_Column_List" />
          FROM t_meter_data
        <include refid="queyWhere"/>
    </select>

</mapper>