<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.PriceTemplateMapper" >
    
    <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.PriceTemplate" >
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remarks" property="remarks" />
        <result column="parent_id" property="parentId"/>
        <result column="create_person" property="createPerson" />
        <result column="create_time" property="createTime" />
        <result column="update_person" property="updatePerson" />
        <result column="update_time" property="updateTime" />
        <collection property="childs" column="id" select="com.hbh.sms.dal.dao.PriceTemplateMapper.getByParentId"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, name, parent_id, remarks, create_person, create_time, update_person, update_time
    </sql>

    <sql id="queryWhere">
        <where>
            <if test="parentId != null">
               AND parent_id = #{parentId}
            </if>
            <if test="name != null and name !='' ">
              AND name = #{name}
            </if>
        </where>
    </sql>
    <!--查询-->
    <select id="query" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.PriceTemplate" >
        select
        <include refid="Base_Column_List" />
            from t_price_template
        <include refid="queryWhere"/>
    </select>
    
    <select id="getByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Column_List" />
          FROM  t_price_template
         WHERE  parent_id = #{value}
    </select>

    <!--删除-->
    <delete id="delete" parameterType="java.lang.Long" >
        delete from t_price_template
        where id = #{id}
    </delete>
    
    <!--增加-->
    <insert id="insert" parameterType="com.hbh.sms.model.entity.PriceTemplate" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_price_template (name,parent_id, remarks, create_person, create_time, update_person,
            update_time)
        values (#{name}, #{parentId}, #{remarks}, #{createPerson}, #{createTime}, #{updatePerson},
            #{updateTime})
    </insert>
    
    <!--更新-->
    <update id="update" parameterType="com.hbh.sms.model.entity.PriceTemplate" >
        update t_price_template
        <set >
            id = #{id}
            
            <if test="name != null" >
                ,name = #{name}
            </if>
            
            <if test="remarks != null" >
                ,remarks = #{remarks}
            </if>
            
            <if test="createPerson != null" >
                ,create_person = #{createPerson}
            </if>
            
            <if test="createTime != null" >
                ,create_time = #{createTime}
            </if>
            
            <if test="updatePerson != null" >
                ,update_person = #{updatePerson}
            </if>
            
            <if test="updateTime != null" >
                ,update_time = #{updateTime}
            </if>
            
        </set>
        where id = #{id}
    </update>
</mapper>