<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.PriceItemMapper">

    <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.PriceItem">
        <id column="id" property="id"/>
        <result column="price_id" property="priceId"/>
        <result column="template_id" property="templateId"/>
        <result column="price" property="price"/>
        <result column="create_person" property="createPerson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_person" property="updatePerson"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, price_id, template_id, price, create_person, create_time, update_person, update_time
    </sql>

    <!--查询-->
    <select id="query" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.PriceItem">
        select
        <include refid="Base_Column_List"/>
        from t_price_item
        where 1=1

        <if test="id != null">
            and id = #{id}
        </if>

        <if test="priceId != null">
            and price_id = #{priceId}
        </if>

        <if test="templateId != null">
            and template_id = #{templateId}
        </if>

        <if test="price != null">
            and price = #{price}
        </if>

        <if test="createPerson != null">
            and create_person = #{createPerson}
        </if>

        <if test="createTime != null">
            and create_time = #{createTime}
        </if>

        <if test="updatePerson != null">
            and update_person = #{updatePerson}
        </if>

        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>

    </select>

    <!--删除-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from t_price_item
        where id = #{id}
    </delete>

    <!--增加-->
    <insert id="insert" parameterType="com.hbh.sms.model.entity.PriceItem">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_price_item (price_id, template_id, price, create_person, create_time,
        update_person, update_time)
        values (#{priceId}, #{templateId}, #{price}, #{createPerson}, now(),
        #{createPerson}, now())
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_price_item (price_id, template_id, price, create_person, create_time,
        update_person, update_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.priceId}, #{item.templateId}, #{item.price}, #{item.createPerson}, now(),
            #{item.createPerson}, now())
        </foreach>
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.hbh.sms.model.entity.PriceItem">
        update t_price_item
        <set>
            id = #{id}

            <if test="priceId != null">
                ,price_id = #{priceId}
            </if>

            <if test="templateId != null">
                ,template_id = #{templateId}
            </if>

            <if test="price != null">
                ,price = #{price}
            </if>

            <if test="createPerson != null">
                ,create_person = #{createPerson}
            </if>

            <if test="createTime != null">
                ,create_time = #{createTime}
            </if>

            <if test="updatePerson != null">
                ,update_person = #{updatePerson}
            </if>

            <if test="updateTime != null">
                ,update_time = #{updateTime}
            </if>

        </set>
        where id = #{id}
    </update>
</mapper>