<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbh.sms.dal.dao.SystemUserMapper">
    <resultMap id="BaseResultMap" type="com.hbh.sms.model.entity.SystemUser">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="create_person" property="createPerson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_person" property="updatePerson"/>
        <result column="update_time" property="updateTime"/>
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <sql id="Base_Column_List">
        tu.id,tu.name,tu.phone,tu.password,tu.create_person,
        tu.create_time,tu.update_person,tu.update_time,tu.role_id,tr.name as role_name
    </sql>
    
    <sql id="queryWhere" >
        <where>
            <if test="id != null" >
                AND tu.id = #{id}
            </if>
            <if test="phone !=null and phone !=''">
                AND tu.phone = #{phone}
            </if>
            <if test="name != null and name !=''">
                AND tu.name = #{name}
            </if>
            <if test="roleId != null and roleId != 0">
                AND tu.role_id = #{roleId}
            </if>
        </where>
    </sql>

    <select id="query" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.SystemUser">
        SELECT  <include refid="Base_Column_List"/>
          FROM  t_system_user tu
    INNER JOIN  t_role tr
            ON  tu.role_id = tr.id
        <include refid="queryWhere"/>
    </select>
    
    <select id="findOne" resultMap="BaseResultMap" parameterType="com.hbh.sms.model.entity.SystemUser">
        SELECT  <include refid="Base_Column_List"/>
        FROM  t_system_user tu
  INNER JOIN  t_role tr
          ON  tu.role_id = tr.id
        <include refid="queryWhere"/>
        limit 1
    </select>

    <insert id="insert" parameterType="com.hbh.sms.model.entity.SystemUser">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_system_user(name,phone,password,create_person,
        create_time,update_person,update_time,role_id
        )
        VALUES (#{name},#{phone},#{password},#{createPerson},
                now(),#{createPerson},now(),#{roleId})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.hbh.sms.model.entity.SystemUser">
        UPDATE  t_system_user
           SET  name = #{name},
                password = #{password},
                update_person = #{updatePerson},
                update_time = now(),
                role_id = #{roleId}
         WHERE  id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM t_system_user
        WHERE id = #{id}
    </delete>
</mapper>