body {
    margin:0px;
    background-image:none;
    position:static;
    left:auto;
    width:919px;
    margin-left:0;
    margin-right:0;
    text-align:left;
}
#base {
    position:absolute;
    z-index:0;
}
#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:693px;
    height:699px;
}
#u145 {
    position:absolute;
    left:107px;
    top:44px;
    width:693px;
    height:699px;
}
#u146 {
    position:absolute;
    left:2px;
    top:342px;
    width:689px;
    visibility:hidden;
    word-wrap:break-word;
}
#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:599px;
}
#u147 {
    position:absolute;
    left:107px;
    top:674px;
    width:710px;
    height:599px;
}
#u148 {
    position:absolute;
    left:2px;
    top:292px;
    width:706px;
    visibility:hidden;
    word-wrap:break-word;
}
#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:22px;
}
#u149 {
    position:absolute;
    left:206px;
    top:861px;
    width:291px;
    height:22px;
    color:#FF0000;
}
#u150 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    white-space:nowrap;
}
#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:697px;
    height:573px;
}
#u151 {
    position:absolute;
    left:122px;
    top:1701px;
    width:697px;
    height:573px;
}
#u152 {
    position:absolute;
    left:2px;
    top:278px;
    width:693px;
    visibility:hidden;
    word-wrap:break-word;
}
#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:708px;
    height:669px;
}
#u153 {
    position:absolute;
    left:86px;
    top:2254px;
    width:708px;
    height:669px;
}
#u154 {
    position:absolute;
    left:2px;
    top:326px;
    width:704px;
    visibility:hidden;
    word-wrap:break-word;
}
#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:687px;
    height:627px;
}
#u155 {
    position:absolute;
    left:79px;
    top:2845px;
    width:687px;
    height:627px;
}
#u156 {
    position:absolute;
    left:2px;
    top:306px;
    width:683px;
    visibility:hidden;
    word-wrap:break-word;
}
#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:688px;
    height:669px;
}
#u157 {
    position:absolute;
    left:110px;
    top:3427px;
    width:688px;
    height:669px;
}
#u158 {
    position:absolute;
    left:2px;
    top:326px;
    width:684px;
    visibility:hidden;
    word-wrap:break-word;
}
#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:797px;
    height:381px;
}
#u159 {
    position:absolute;
    left:122px;
    top:4126px;
    width:797px;
    height:381px;
}
#u160 {
    position:absolute;
    left:2px;
    top:182px;
    width:793px;
    visibility:hidden;
    word-wrap:break-word;
}
#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:630px;
    height:708px;
}
#u161 {
    position:absolute;
    left:122px;
    top:4525px;
    width:630px;
    height:708px;
}
#u162 {
    position:absolute;
    left:2px;
    top:346px;
    width:626px;
    visibility:hidden;
    word-wrap:break-word;
}
#u163_img {
    position:absolute;
    left:0px;
    top:0px;
    width:665px;
    height:561px;
}
#u163 {
    position:absolute;
    left:107px;
    top:1183px;
    width:665px;
    height:561px;
}
#u164 {
    position:absolute;
    left:2px;
    top:272px;
    width:661px;
    visibility:hidden;
    word-wrap:break-word;
}
#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    height:16px;
}
#u165 {
    position:absolute;
    left:178px;
    top:1715px;
    width:639px;
    height:16px;
    font-family:'Arial Negreta', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:13px;
    color:#FF0000;
}
#u166 {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    word-wrap:break-word;
}
#u167_div {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:37px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Negreta', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u167 {
    position:absolute;
    left:288px;
    top:36px;
    width:225px;
    height:37px;
    font-family:'Arial Negreta', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u168 {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    white-space:nowrap;
}
#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:296px;
    height:44px;
}
#u169 {
    position:absolute;
    left:331px;
    top:83px;
    width:296px;
    height:44px;
}
#u170 {
    position:absolute;
    left:2px;
    top:14px;
    width:292px;
    visibility:hidden;
    word-wrap:break-word;
}
