<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <bean id="authRealm" class="com.hbh.sms.shiro.AuthRealm"/>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="authRealm"/>
    </bean>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/auth/login"/>
        <property name="successUrl" value="/sms/index"/>
        <property name="unauthorizedUrl" value="/auth/login"/>
        <property name="filters">
            <map>
                <entry key="urlAuthc" value-ref="urlAuthenticationFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /resources/**=anon
                /auth/*=anon
                /sms/*=authc
                /**=authc,urlAuthc
            </value>
        </property>
    </bean>
    <bean id="urlAuthenticationFilter" class="com.hbh.sms.shiro.UrlAuthenticationFilter"/>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>